extends ./views/layout/layout-tour.pug
block vars 
	-var title = "About page"
block main
	main Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ea vero, assumenda quibusdam inventore fugiat iusto dignissimos! Illum eligendi, commodi voluptatibus nobis assumenda nisi corrupti harum accusamus saepe consequuntur repellat?
